<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="lt.psk.mybatis.model.Airport" alias="Airport"/>
        <typeAlias type="lt.psk.mybatis.model.Pilot" alias="Pilot"/>
        <typeAlias type="lt.psk.mybatis.model.PilotsPlanes" alias="PilotsPlanes"/>
        <typeAlias type="lt.psk.mybatis.model.Plane" alias="Plane"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="AirportsDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis.xml/AirportMapper.xml"/>
        <mapper resource="mybatis.xml/PilotMapper.xml"/>
        <mapper resource="mybatis.xml/PilotsPlanesMapper.xml"/>
        <mapper resource="mybatis.xml/PlaneMapper.xml"/>
    </mappers>
</configuration>